<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ut distinctio hic, quo adipisci praesentium aperiam quod tenetur deleniti ab molestias id officia dolores voluptas, vero iusto soluta! Voluptate corrupti optio alias culpa accusamus amet magni repellendus cumque natus ad.</p>
    </div>
</div>