<h1>Meeting Attendance List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Participation Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bill Gates</td>
            <td>Yes</td>
            <td>
                <a class="btn btn-sm btn-danger" href="#">Detail</a>
            </td>
        </tr>
        <tr>
            <td>Elon Musk</td>
            <td>Yes</td>
            <td>
                <a class="btn btn-sm btn-danger" href="#">Detail</a>
            </td>
        </tr>
        <tr>
            <td>Larry Ellison</td>
            <td>Yes</td>
            <td>
                <a class="btn btn-sm btn-danger" href="#">Detail</a>
            </td>
        </tr>
    </tbody>
</table>