<h1>Meeting Attendance List</h1>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Participation Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bill Gates</td>
            <td>info@billgates.com</td>
            <td>Yes</td>
            <td>
                <a href="#">Detail</a>
            </td>
        </tr>
        <tr>
            <td>Elon Musk</td>
            <td>info@elonmusk.com</td>
            <td>Yes</td>
            <td>
                <a href="#">Detail</a>
            </td>
        </tr>
        <tr>
            <td>Larry Ellison</td>
            <td>info@larryellison.com</td>
            <td>Yes</td>
            <td>
                <a href="#">Detail</a>
            </td>
        </tr>
    </tbody>
</table>