
@{
    Layout = "_LayoutHome";
}
<h1 class="h4">Hello Participant</h1>
<h2 class="h5">Please Inform Us About Your Attendance at the Meeting</h2>
<a class="btn btn-sm btn-outline-success" asp-controller = "Meeting" asp-action ="Apply">Join the Meeting</a>